<mat-action-list>
    <div *ngFor="let task of (tasks | async).tasks">
        <a 
            mat-list-item
            (click)="onSelectTask(task)"
            *ngIf="task.completed === completed && showTask(task)"
        >
            <div matLine>{{ task.name }} - {{ task.description }}</div>
            <div matLine [ngStyle]="{'color': setStyleColor(task)}">{{ task.dueDate }}</div>
            <button
                mat-icon-button
                matTooltip="Mark as {{ completed ? 'Incomplete' : 'Complete'}}"
                color="primary"
                (click)="onChangeStatus(task)">
                <mat-icon>{{ completed ? 'undo' : 'done'}}</mat-icon>
            </button>
            <button
                mat-icon-button
                matTooltip="Remove Task"
                color="warn"
                (click)="onRemove(task._id)">
                <mat-icon>delete</mat-icon>
            </button>
        </a>
    </div>
</mat-action-list>