<mat-action-list>
    <div *ngFor="let task of (tasks | async).tasks">
        <a 
            mat-list-item
            *ngIf="task.completed === completed"
        >
            <span matLine>{{ task.name }}</span>
            <button
                mat-icon-button
                matTooltip="Mark as {{ completed ? 'Incomplete' : 'Complete'}}"
                color="primary"
                (click)="onChangeStatus(task)">
                <mat-icon>{{ completed ? 'undo' : 'done'}}</mat-icon>
            </button>
            <button
                mat-icon-button
                matTooltip="Remove Task"
                color="warn"
                (click)="onRemove(task.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </a>
    </div>
</mat-action-list>